<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Frontend</title>
  {# <base href="/notepad/web"> #}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="{{ asset('bundles/notepad/js/styles.bundle.css') }}" rel='stylesheet'>
</head>
<body class='container'>
  <my-app>Loading...</my-app>

    <script src="{{ asset('bundles/notepad/js/inline.bundle.js') }}"></script>
    <script src="{{ asset('bundles/notepad/js/vendor.bundle.js') }}"></script>
    <script src="{{ asset('bundles/notepad/js/polyfills.bundle.js') }}"></script>
    <script src="{{ asset('bundles/notepad/js/main.bundle.js') }}"></script>
</body>
</html>
